[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers.git
[submodule "diffusers"]
	path = diffusers
	url = https://github.com/huggingface/diffusers.git
[submodule "latent-diffusion"]
	path = latent-diffusion
	url = https://github.com/CompVis/latent-diffusion.git
[submodule "Grounded-Segment-Anything"]
	path = Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "Depth-Anything"]
	path = Depth-Anything
	url = https://github.com/LiheYoung/Depth-Anything.git
[submodule "lama"]
	path = lama
	url = https://github.com/advimman/lama.git
